* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Utils */
h3 {
    color: #fff;
    font-size: 2rem;
    margin: 50px 10px;

}

h4 {
    color: #fff;
    margin-top: 20px;
}

button {
    background-color: transparent;
    cursor: pointer;
}

.card {
    flex-basis: calc(100% / 6 - 20px);
    flex-shrink: 1;
    min-width: 100px;
}

/* SIDEBAR */
.sidebar {
    flex-basis: 250px;
    flex-shrink: 1;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    scrollbar-width: none;
    /* DEBUG */
    background-color: black;

}

.logo {
    width: 70%;
    margin: 20px;

}

.nav-btn, .download img {
    width: 24px;
    height: 24px;
}

.nav-btn, .new-playlist {

    display: flex;
    color: #fff;
    text-align: center;
    align-items: center;
    gap: 8px;
    border: none;
    font-weight: 600;
    min-height: 50px;

}

.n-playlist ul li{
    margin-bottom: 15px;
}

i{
    font-size: 2rem;
    color: black;
    background-color: grey;
}

/*SIDE FOOTER*/
.download {
    margin-top: 60%;
    color: grey;
    margin-bottom: 10px;
}

#download {
    width: 30px;
    vertical-align: middle;
}

.divider {
    
    height: 1px;
    background-color: grey;
    margin: 0 10px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    color: #fff;
}

.avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 10px;
    background-color: grey;
    background-image: url('../img/profile.svg');
    background-size: contain;
    background-position: center;
}

/*contenuto principale*/
main {
    max-height: calc(100vh - 100px);
    display: flex;
    /* DEBUG */
    background-color: blueviolet;
}


.content {
    flex-grow: 1;
    overflow: auto;
    /* debug */
    background-color: #141922;
}

/* header section */
header {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    /*debug*/
    background-color: #080b12;
}

.btn-upgrade {
    /*  height: 50px; */
    align-self: center;
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    padding: 10px 30px;
    border-color: #fff;
    border-radius: 50px;

}



/*ESPLORA*/
.explore {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

a {
    color: grey;
    text-decoration: none;
    font-weight: 600;

}

#evidenza {
    border-bottom: 1px solid greenyellow;
}

/*RECENTLY PLAYED SECTION*/


.recently-played {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card img {
    width: 100%;

}

.playlist-name {
    text-align: center;
    color: #fff;
}

h5 {
    color: grey;
}

.for-you,
.popular {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.sub {
    margin: 10px;
}

.artist-album {
    border-radius: 50%;
}

/* footer */
footer {

    height: 100px;
    /* DEBUG */
    background-color: #292929;
}