* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* UTILS */
button {
    cursor: pointer;
}





/*SIDEBAR*/
aside {
    width: 20%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    z-index: 1;
    overflow-y: auto;    /*DA TOGLIERE POI MI SERVE SOLO PER POTER VEDERE TUTTO IL CONTENUTO SE LA PAGINA NON HA HEIGHT */
}

.logo {
    width: 50%;
    margin: 20px;
}

nav button {
    display: block;
    padding: 10px;
    margin: 10px;
    border-style: none;
    color: grey;
    background-color: #000;
    font-size: 1em;
    
}

.home {
    border-left: 3px solid #68a40d;
}

#logo-h,
#logo-s,
#logo-l {
    width: 30px;
    vertical-align: bottom;
    margin-right: 10px;
}

h3{
    color: #fff;
}

i {
    color: #000;
    background-color: grey;
    font-size: 3rem;
    text-align: center;
    margin-right: 10px;
}

.new-playlist,
li {
    display: block;
    padding: 10px;
    margin: 10px;
    border-style: none;
    color: grey;
    background-color: #000;
    font-size: 1em;
    
}

a {
    display: block;
    text-decoration: none;
    color: grey;
    width: 100%;
    font-weight: 700;
}


/*ASIDE FOOTER*/
.download {
    margin-top: 150%;
    color: grey;
    margin-bottom: 10px;
}

#download {
    width: 30px;
    vertical-align: middle;
}

.divider {
    
    height: 1px;
    background-color: grey;
    margin: 0 10px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    color: #fff;
}

.avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 10px;
    background-color: grey;
    background-image: url('../img/profile.svg');
    background-size: contain;
    background-position: center;
}
/*HEADER*/
.right-section{
    width: 80%;
    display: flex;
    background-color: #68a40d;
    height: calc(100vh - 20);
}
header {
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: #080B12;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
}

.btn-upgrade {
    background-color: #080B12;
    color: #fff;
    font-size: 1em;
    padding: 10px;
    border-color: #fff;
    border-radius: 20px;

}


/* HOVER */

.sidebar nav button:hover{
    background-color: #080B12;
    color: #fff;
}

.new-playlist:hover{
    color: #fff;
}

.n-playlist li a:hover{
    color: #fff;
    background-color: #080B12;
}

.download a:hover{
    color: #fff;
}