* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Utils */
h3 {
    color: #fff;
    font-size: 2rem;
    margin: 50px 10px;

}

button{
    background-color: transparent;
    cursor: pointer;
}

.card {
    flex-basis: calc(100% / 6 - 20px);
    flex-shrink: 1;
    min-width: 100px;
}

/* SIDEBAR */
.sidebar {
    flex-basis: 250px;
    flex-shrink: 1;
    height: calc(100vh - 100px);
    /* DEBUG */
    background-color: black;
}

.logo {
    width: 70%;
    margin: 20px;

}

.home{
    display: flex;
  color: #fff;
  text-align: center;
  align-items: center;
  gap: 8px;
  border: none;
  font-weight: 600;

}

/*contenuto principale*/
main {
    height: calc(100vh - 100px);
    display: flex;
    /* DEBUG */
    background-color: blueviolet;
}


.content {
    flex-grow: 1;
    overflow: auto;
    /* debug */
    background-color: #141922;
}

/* header section */
header {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    /*debug*/
    background-color: #080b12;
}

.btn-upgrade {
    /*  height: 50px; */
    align-self: center;
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    padding: 10px 30px;
    border-color: #fff;
    border-radius: 50px;

}



/*ESPLORA*/
.explore {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

a {
    color: grey;
    text-decoration: none;
    font-weight: 600;

}

#evidenza {
    border-bottom: 1px solid greenyellow;
}

/*RECENTLY PLAYED SECTION*/


.recently-played {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card img {
    width: 100%;

}

.playlist-name {
    text-align: center;
    color: #fff;
}

h5 {
    color: grey;
}

.for-you,
.popular {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.sub {
    margin: 10px;
}

.artist-album {
    border-radius: 50%;
}

/* footer */
footer {

    height: 100px;
    /* DEBUG */
    background-color: #292929;
}