* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
/* UTILS */
button{
    cursor: pointer;
}


/*HEADER*/

header {
    display: flex;
    width: 100%;
    height: 30vh;
    background-color: #080B12;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
}

.btn-upgrade{
    background-color: #080B12;
    color: #fff;
    font-size: 1em;
    padding: 10px;
    border-color: #fff;
    border-radius: 20px;

}


/*SIDEBAR*/
aside {
    width: 20%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    z-index: 1;
}

.logo {
    width: 50%;
    margin: 20px;
}

nav button {
    display: block;
    padding: 10px;
    margin: 10px;
    border-style: none;
    color: grey;
    background-color: #000;
    font-size: 1em;
    
}

#logo-h, #logo-s, #logo-l{
    width: 30px;
    vertical-align: bottom;
    margin-right: 10px;
}

