*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*HEADER*/

header{
  display: flex;
  width: 100%;
  height: 20vh;
  background-color: #080B12;
  justify-content: flex-end;
  align-items:center;
}

.btn-upgrade{
  background-color:#080B12;
  color: #fff;
  font-size:1em;
  width: 10%;
  padding:10px;
  border-color:#fff;
  border-radius:20px; 
}